body {
    display: flex;
}

/* Removes deffault margin on p element to help with spacing in sidebar */
.sidebar p {
    margin: 0;
}

@font-face {
    font-family: "OdinProjectCustom";
    src: url("./fonts/Norse-Bold.woff2") format("woff2"), 
        url("./fonts/Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.signup-body {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 300px;
    font-family: OdinProjectCustom, Arial, Helvetica, sans-serif;
    font-size: 120px;
}

/* Used to set the logo image to a specific height */
img {
    height: 150px;
    width: auto;
}

/* Used to split up the page to respective sections for side bar and main content, static design */
.main-content {
    flex: 2;
}

a {
    text-decoration: none;
}