body {
    display: flex;
}

.signup-body {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 40%;
}

.main-content {
    flex: 2;
}

a {
    text-decoration: none;
}